{% autoescape off %}
    % LaTeX resume using res.cls
    \documentclass[margin]{res}
    %\usepackage{helvetica} % uses helvetica postscript font (download helvetica.sty)
    %\usepackage{newcent}   % uses new century schoolbook postscript font
    \setlength{\textwidth}{5.1in} % set width of text portion

    \usepackage{color}
    \definecolor{myred}{RGB}{180, 50, 50}


    \begin{document}

    % Center the name over the entire width of resume:
    \moveleft.5\hoffset\centerline{\huge \bf {{ personal.first_name }}
    {{ personal.last_name }}{% templatetag closebrace %}}
    % Draw a horizontal line the whole width of resume:
    \moveleft\hoffset\vbox{\hrule width\resumewidth height 1pt}\smallskip
    % address begins here
    % Again, the address lines must be centered over entire width of resume:
    \moveleft.5\hoffset\centerline{% templatetag openbrace %}{{ personal.mobile }} |
    {{ personal.email }}{% templatetag closebrace %}
    \moveleft.5\hoffset\centerline{% templatetag openbrace %}{{ personal.city }},
    {{ personal.country }}{% templatetag closebrace %}
    {% if personal.linkedin|length > 0 %}\moveleft.5\hoffset\centerline
        {% templatetag openbrace %}{{ personal.linkedin }}
        {% templatetag closebrace %}{% endif %}


    \begin{resume}
    {% if summary %}
        \section{\textcolor{myred}{SUMMARY}}  {{ summary.summary }}
    {% endif %}

    {% if works %}
        \section{\textcolor{myred}{EXPERIENCE}} {% for work in works %}
        {\sl {{ work.designation }}{% templatetag closebrace %} \hfill {{ work.from_year }} -- {{ work.to_year }}
        \\[1pt]
        {{ work.company }} \hfill {{ work.city }}, {{ work.country }} \\[1pt]
        {{ work.work_summary }}
    {% endfor %}
    {% endif %}

    {% if educations %}
    \section{\textcolor{myred}{EDUCATION}}{% for education in educations %}
    {\sl {{ education.degree }},} {{ education.major }} \hfill {{ education.from_year }} -- {{ education.to_year }} \\
    % \sl will be bold italic in New Century Schoolbook (or
    % any postscript font) and just slanted in
    %    Computer Modern (default) font
    {{ education.college }} \hfill \textsc {{ education.city }}, {{ education.country }}\\
    GPA: {{ education.gpa }} \\
    {{ education.education_summary }}
{% endfor %}
    {% endif %}

    {% if awards %}
        \section{\textcolor{myred}{AWARDS AND \\ CERTIFICATES}}
        {% for award in awards %}
            {\slL̥ {{ award.award_name }}{% templatetag closebrace %}, {{ award.organisation }} \hfill {{ award.year }}
            \\
            {{ award.award_summary }}
        {% endfor %}
    {% endif %}

    {% if skills %}
    \section{\textcolor{myred}{SKILLS}} {{ skills.skills }}
    {% endif %}

    {% if languages %}
    \section{\textcolor{myred}{LANGUAGES}} {{ languages.languages }}
    {% endif %}

    \end{resume}
    \end{document}

{% endautoescape %}