{% autoescape off %}

\documentclass[11pt]{article}

\usepackage{ifluatex}
\ifluatex
\usepackage{fontspec}
\setmainfont[Ligatures = TeX,Numbers = OldStyle]{TeX Gyre Pagella}
\setsansfont[Ligatures = TeX]{TeX Gyre Adventor}
\setmonofont[Ligatures = TeX]{Inconsolatazi4-Regular.otf}
\else
\usepackage[T1]{fontenc}
\usepackage{tgpagella}
\usepackage{tgadventor}
\usepackage{inconsolata}
\fi

\usepackage{array,etaremune,geometry,fixltx2e,microtype,pifont}
\usepackage{ragged2e,titlesec,xcolor}
\usepackage{hyperref}

\hypersetup
{
hidelinks = true             ,
pdfauthor = Joseph Wright    ,
pdftitle  = Curriculum Vitae
}

\geometry
{
a4paper         ,
nohead          ,
nofoot          ,
hmargin = 1.5cm ,
vmargin = 2cm
}

\titleformat{\section}{\Large\bfseries\sffamily}{}{0 em}
{
\begingroup
\color{gray!30}%
\titleline{\leaders\hrule height 0.6 em\hfill\kern 0 pt\relax}%
\endgroup
\nobreak
\vspace{-1.2 em}%
\nobreak
}

\newcommand{\educationitem}[8]{\textbf{% templatetag openbrace %}#1} \hfill \textsc{\small #2, #3}\\
\normalsize \emph{% templatetag openbrace %}#4, #5} \hfill \small {% templatetag openbrace %}#6} \\
GPA: #7 \\[0.6em]
#8
}

\newcommand{\workitem}[6]{\textbf{% templatetag openbrace %}#1} \hfill \small \textsc{% templatetag openbrace %}#2, #3}\\
\normalsize \emph{% templatetag openbrace %}#4} \hfill \small #5 \\[0.6em]
#6
}

\newcommand{\awarditem}[4]{\textbf{% templatetag openbrace %}#1}, \emph{% templatetag openbrace %}#2} \hfill {% templatetag openbrace %}#3} \\
#4}


\titleformat{\subsection}{\large\itshape}{}{0 em}{}

\renewcommand*\arraystretch{1.4}
\pagestyle{empty}
\frenchspacing

\newcommand*{\paper}[2]
{\item \href{http://dx.doi.org/#1}{\ignorespaces#2\unskip.}}
\newcommand*{\papertitle}[1]
{ %
\begingroup
\ifluatex
\addfontfeature{Numbers = Lining}%
\fi
\emph{% templatetag openbrace %}#1}%
\endgroup
}

\newlength{\sidewidth}
\newlength{\mainwidth}
\AtBeginDocument
{ %
\settowidth{\sidewidth}{\textbf{Professional bodies}\hspace{0.75 em}}%
\setlength{\mainwidth}{\dimexpr\linewidth - \sidewidth\relax}%
}

\newcommand*{\headline}[1]
{ %
\hbox{ %
\llap{\ding{72}\hspace*{0.2 em}}%
\textbf{% templatetag openbrace %}#1}%
}%
}
\newenvironment{CVtable}
{ %
\begin{tabular}
{@{}>{\bfseries}p{\sidewidth}@{}>{\RaggedRight}p{\mainwidth}@{}}%
}
{\end{tabular}}

\begin{document}


\begin{flushleft}
\Huge \sffamily
\textbf {% templatetag openbrace %}{{ personal.first_name }} {{ personal.last_name }}{% templatetag closebrace %} \\
\normalsize {{ personal.email }} | {{ personal.mobile }} |
{% if personal.linkedin|length > 0 %}{% templatetag openbrace %}{{ personal.linkedin }}
    {% templatetag closebrace %}{% endif %}{{ personal.city }}, {{ personal.country }}
\end{flushleft}

\vspace{-20pt}

\section{Summary}
\sffamily \small{{ summary.summary }}
{#\begin{itemize}#}
{#\item[] \sffamily {{ summary.summary }}#}
{#\end{itemize}#}

{% if works %}
\section{Employment history}

{#	\begin{itemize}#}
{#        {% for work in works %}#}
{#		\item \sffamily \workitem{% templatetag openbrace %}{{ work.company }}{% templatetag closebrace %}#}
{#            {% templatetag openbrace %}{{ work.city }}{% templatetag closebrace %}#}
{#            {% templatetag openbrace %}{{ work.country }}{% templatetag closebrace %}#}
{#            {% templatetag openbrace %}{{ work.designation }}{% templatetag closebrace %}#}
{#            {% templatetag openbrace %}{{ work.from_year }} -- {{ work.to_year }}{% templatetag closebrace %}#}
{#            {% templatetag openbrace %}{{ work.work_summary }}{% templatetag closebrace %}#}
{#        {% endfor %}#}
{#	\end{itemize}#}
\begin{itemize}
{% for work in works %}
    \item \sffamily \workitem{% templatetag openbrace %}{{ work.company }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.city }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.country }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.designation }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.from_year }} -- {{ work.to_year }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.work_summary }}{% templatetag closebrace %}
{% endfor %}
    \end{itemize}
{% endif %}

{% if educations %}
\section{Academic history}
\begin{itemize}
{% for education in educations %}
    \item \sffamily \educationitem{% templatetag openbrace %}{{ education.college }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.city }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.country }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.degree }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.major }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.from_year }} -- {{ education.to_year }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.gpa }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.education_summary }}{% templatetag closebrace %}

{% endfor %}
\end{itemize}
{% endif %}

{% if awards %}
\section{Awards and Certificates}
\begin{itemize}
{% for award in awards %}
    \item \sffamily \awarditem{% templatetag openbrace %}{{ award.award_name }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ award.organisation }}{% templatetag closebrace %}
    {% templatetag openbrace %}\emph
    {% templatetag openbrace %}{{ award.year }}{% templatetag closebrace %}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ award.award_summary }}{% templatetag closebrace %}{% templatetag closebrace %}
{% endfor %}
\end{itemize}
{% endif %}

    {% if skills %}
\section{Skills}
\begin{itemize}
\item[] {{ skills.skills }}

\end{itemize}
    {% endif %}


    {% if languages%}
\section{Languages}
\begin{itemize}
\item[] {{ languages.languages }}
\end{itemize}
    {% endif %}


\end{document}

{% endautoescape %}