%!TEX TS-program = xelatex
\documentclass[10pt]{friggeri-cv}

\begin{document}

\header{% templatetag openbrace %}{{personal.first_name}}{% templatetag closebrace %}{% templatetag openbrace %}{{personal.last_name}}{% templatetag closebrace %}
       {% if personal.title|length > 0 %}{% templatetag openbrace %}{{ personal.title}}{% templatetag closebrace %}{% endif %}


% In the aside, each new line forces a line break
\begin{aside}
  \section{contact}
    {{ personal.mobile }}
{#    {{ personal.email }}#}
    {{ personal.city }}, {{ personal.country }}

    {% if personal.linkedin|length > 0 %}
  \section{linkedin}
    {{ personal.linkedin }}
    {% endif %}

\end{aside}

\section{Summary}

{{ summary.summary }}


\section{Experience}

\begin{entrylist}
{% for work in works %}
  \entry
    {% templatetag openbrace %}{{ work.from_year }} -- {{ work.to_year }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.company }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ work.city }}, {{ work.country }}{% templatetag closebrace %}
    {\emph{ {{ work.designation }} }\\ {{ work.work_summary }}{% templatetag closebrace %}
 {% endfor %}
\end{entrylist}

\section{Education}

\begin{entrylist}
{% for education in educations %}
  \entry
    {% templatetag openbrace %}{{education.from_year}} -- {{education.to_year}}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ education.degree }}, {\normalfont {{ education.major }} }}
    {% templatetag openbrace %}{{ education.college}}{% templatetag closebrace %}
    {% templatetag openbrace %}GPA: {{ education.gpa }}\\{{ education.education_summary }}{% templatetag closebrace %}

{% endfor %}
\end{entrylist}


\section{Awards}

\begin{entrylist}
{% for award in awards %}
  \entry
    {% templatetag openbrace %}{{ award.year }}{% templatetag closebrace %}
    {% templatetag openbrace %}{{ award.award_name }}, \emph{% templatetag openbrace %}{{ award.organisation }}{% templatetag closebrace %}{% templatetag closebrace %}
    {}
    {% templatetag openbrace %}{{ award.award_summary }}{% templatetag closebrace %}
{% endfor %}
\end{entrylist}


\section{Skills}
{{skills.skills}}


\section{Languages}
{{languages.languages}}

\end{document}
