{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>resumeroot</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ APPTITLE }}</a>
            <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="">Resume Root</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="">StudApps</a></li>
            </ul>
        </div>
    </div>
</div>

<header>
    <h1><tt>resume root</tt></h1>
    {% if user.is_authenticated %}
        You are signed in as <strong>{{ user.username }}</strong> /
        <a href="{% url 'home' %}">home</a> /
{#        <a href="{% url 'settings' %}">settings</a> /#}
{#        <a href="{% url 'password' %}">change password</a> /#}
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a> /
{#        <a href="{% url 'signup' %}">signup</a>#}
    {% endif %}
    <hr>
</header>
<main>
    {% for message in messages %}
        <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
            {{ message }}
        </p>
    {% endfor %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
