{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>resumeroot</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style>
        #heading {
            font-family: 'Playfair Display SC', serif;
        }
    </style>

</head>
<div>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ APPTITLE }}</a>
            <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="">Resume Root</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/builder/personal">Personal</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/builder/education">Education</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/builder/experience">Experience</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="">rootapps</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
<header>
    <h1 id="heading">Aviato</h1>
    {% if user.is_authenticated %}
    You are signed in as <strong>{{ user.username }}</strong>
    <a href="{% url 'home' %}">home</a> /
    {# <a href="{% url 'settings' %}">settings</a> /#}
    {# <a href="{% url 'password' %}">change password</a> /#}
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'login' %}">login</a> /
    {# <a href="{% url 'signup' %}">signup</a>#}
    {% endif %}
    <hr>
</header>

<main>
    {% for message in messages %}
    <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
        {{ message }}
    </p>
    {% endfor %}
    {% block content %}
    {% endblock %}
</main>

</div>

</body>
</html>
