{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <ul class="list-group">
                    <a href="{% url 'personal' %}" class="list-group-item">Personal</a>
                    <a href="{% url 'education' %}" class="list-group-item">Education</a>
                    <a href="{% url 'experience' %}" class="list-group-item">Experience</a>
                    <a href="{% url 'skills' %}" class="list-group-item">Skills</a>
                    <a href="#" class="list-group-item">Themes</a>
                    <a href="{% url 'publish' %}" class="list-group-item active">Publish</a>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            {% block form_content %}

            {% endblock %}
        </div>
    </div>

{% endblock %}