{% extends 'base.html' %}

{% block content %}

<h2> Education form </h2>

<div>

    <script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset();
    })
    </script>

    <!--<form action="/builder/education" method="post">-->

    <!--{% csrf_token %}-->
    <!--{{ formset }}-->

    <!--<input type="submit" value="Submit" />-->
    <!--</form>-->
    <!---->

    <form id="myForm" method="post" action="">
        {% csrf_token %}
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            {% for form in formset.forms %}
            <tr>
                {% for field in form %}
                <td>{{ field }}</td>
                {% endfor %}
                <!--<td>{{ form.field1 }}</td>-->
                <!--<td>{{ form.field2 }}</td>-->
                <!--<td>{{ form.field3 }}</td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ formset.management_form }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}}