{% extends 'base.html' %}

{% block content %}


    {% if form.errors %}
        <div class="alert alert-error">
            <h4>Please fix the following errors</h4>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>
    {% endif %}

    {% if resumes %}
        <div>
            <h2>My resumes</h2>
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Resume Name</th>
                    <th>Last modified on</th>
                    <th>Options</th>
                    <th></th>
                </tr>
                </thead>

                {% for resume in resumes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ resume.name }}</td>
                        <td>{{ resume.modified }}</td>
                        <td>
                            <a role="button" class="btn btn-default"
                               href="{% url 'personal' resume_id=resume.id %}">Edit</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-default"
                               href="{% url 'delete_resume' resume_id=resume.id %}">Delete</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Share</button>
                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Download</a></li>
                                    <li><a href="#">Email</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}


    <h3>Add New</h3>
    <div class="row">
        {% comment %}<form action="{% url 'resume' %}" method="post">
            {% csrf_token %}
            {#        {{ form }}#}

            {% for field in form %}
                <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {{ form.errors }}
            {% endfor %}


            <input type="submit" class="btn btn-primary " value="Save"/>
        </form>{% endcomment %}

        <form action="{% url 'resume' %}" method="post" name="myform">

            {% csrf_token %}
            <div class="col-lg-5">
                <div class="input-group">
                    <input name="name" id="id_name" type="text" class="form-control" placeholder="Enter resume name">
                    <span class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="Add Resume"/>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->


        </form>
    </div>

{% endblock %}