{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


    {% if form.errors %}
        <div class="alert alert-error">
            <h4>Please fix the following errors</h4>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>
    {% endif %}

    {% if resumes %}
        <div>
            <h2>My resumes</h2>
            <table class="table">{% for resume in resumes %}
                <tr>
                    <td>{{ resume.name }}</td>
                    <td><a role="button" class="btn btn-default"
                           href="{% url 'personal' resume_id=resume.id %}">Edit</a></td>
                    <td><a role="button" class="btn btn-default" href="{% url 'delete_resume' resume_id=resume.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}


    <h3>Add new resume</h3>
    <div class="row">
        <form action="{% url 'resume' %}" method="post">
            {% csrf_token %}
            {#        {{ form }}#}

            {% for field in form %}
                <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {{ form.errors }}
            {% endfor %}


            <input type="submit" class="btn btn-primary " value="Save"/>
        </form>
    </div>

{% endblock %}