{% extends 'builder/builder_base.html' %}

{% load crispy_forms_tags %}

{% block form_content %}

    <h3>Summary</h3>
    <div>
        <form action="{% url 'summary' resume_id=resume_id %}" method="post">
            {% csrf_token %}
            {#        {{ form }}#}

            {% for field in form %}
                <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
    </div>

    <div class="col-md-4" id="editor">

    </div>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>

{% endblock %}