{% extends 'builder/builder_base.html' %}

{% load static %}

{% block form_content %}

    <h2>Choose your theme</h2>


    <div>

    <div class="row">
        <img src="{% static 'img/img1.png' %}" />
        <img src="{% static 'img/img1.png' %}" />
        <img src="{% static 'img/img1.png' %}" />
    </div>
    <br>

        <form action="{% url 'theme' resume_id=resume_id %}" method="post">
            <div class="row">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>
        </form>
    </div>

{% endblock %}