{% extends 'base.html' %}

{% block content %}

    <div class="panel">

    </div>
    <div class="panel">

    </div>
    <div class="panel">


    <div class="jumbotron">
        <h1><span contenteditable="true">Build your future</span></h1>
    <p>Create professional looking resumes in minutes </p>
    <p>
            <a href="{% url 'resume' %}" class="btn btn-success btn-lg ">Get Started</a>
    </p>
    </div>


    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <h3>Total users <strong>{{ total_users }}</strong></h3>
        </div>
    </div>

{% endblock %}

