

\documentclass[12pt,a4paper,sans]{moderncv}        % possible options include font size ('10pt', '11pt' and '12pt'), paper size ('a4paper', 'letterpaper', 'a5paper', 'legalpaper', 'executivepaper' and 'landscape') and font family ('sans' and 'roman')

% moderncv themes
\moderncvstyle{banking}                           % style options are 'casual' (default), 'classic', 'oldstyle' and 'banking'
\moderncvcolor{grey}                               % color options 'blue' (default), 'orange', 'green', 'red', 'purple', 'grey' and 'black'
%\renewcommand{\familydefault}{\sfdefault}         % to set the default font; use '\sfdefault' for the default sans serif font, '\rmdefault' for the default roman one, or any tex font name
%\nopagenumbers{}                                  % uncomment to suppress automatic page numbering for CVs longer than one page

\renewcommand*{\addresssymbol}       {}
\renewcommand*{\mobilephonesymbol}   {}
\renewcommand*{\fixedphonesymbol}    {}
\renewcommand*{\faxphonesymbol}      {}
\renewcommand*{\emailsymbol}         {}
\renewcommand*{\homepagesymbol}      {}
% \renewcommand*{\linkedinsocialsymbol}{}
% \renewcommand*{\twittersocialsymbol} {}
% \renewcommand*{\githubsocialsymbol}  {}

% character encoding
\usepackage[utf8]{inputenc}                       % if you are not using xelatex ou lualatex, replace by the encoding you are using
%\usepackage{CJKutf8}                              % if you need to use CJK to typeset your resume in Chinese, Japanese or Korean

% adjust the page margins
\usepackage[a4paper,
            left=1cm,right=1cm,top=1cm,bottom=1cm,%
            footskip=.25in]{geometry}

\usepackage{blindtext}


%\setlength{\hintscolumnwidth}{3cm}                % if you want to change the width of the column with the dates
%\setlength{\makecvtitlenamewidth}{10cm}           % for the 'classic' style, if you want to force the width allocated to your name and avoid line breaks. be careful though, the length is normally calculated to avoid any overlap with your personal info; use this at your own typographical risks...

% personal data
\name{% templatetag openbrace %}{{personal.firstname}} {{personal.name}} }{ {{personal.surname}} }
\title{ {{personal.title}} }                               % optional, remove / comment the line if not wanted

\address{ {{personal.city}} }{ {{personal.country}} }% optional, remove / comment the line if not wanted; the "postcode city" and and "country" arguments can be omitted or provided empty


\phone[mobile]{ {{personal.mobile}} }
\email{ {{personal.email}} }                               % optional, remove / comment the line if not wanted
\homepage{ {{personal.linkedin}} }                         % optional, remove / comment the line if %----------------------------------------------------------------------------------
%            content
%----------------------------------------------------------------------------------
\begin{document}
%-----       resume       ---------------------------------------------------------
\makecvtitle

\vspace{-35pt}
\section{Education}
{% for education in educations %}
\cventry{% templatetag openbrace %}{{education.from}} -- {{education.to}} }{% templatetag openbrace %}{{education.degree}} , {{education.major}} }{ {{education.college}} }{ {{education.city}} ,  {{education.country}} }{\textit{ {{education.gpa}} }}{% templatetag openbrace %}{{education.education_summary}} }
{% endfor %}

\section{Work Experience}

{% for work in works %}
\cventry{% templatetag openbrace %}{{work.from}} -- {{work.to}} }{% templatetag openbrace %}{{work.designation}} }{% templatetag openbrace %}{{work.company}} }{% templatetag openbrace %}{{work.city}} ,  {{work.country}} }{}{% templatetag openbrace %}{{work.work_summary}} }
{% endfor %}

\section{Skills}
 {{skills.skills}}

\section{Languages}
 {{langauge.languages}}


\section{Awards and Certificates}

{% for award in awards %}
\cvlistitem{\awardentry{ {{award.award}} }{ {{award.organisation}} }{ {{award.year}} }{ {{award.summary}} }}
{% endfor %}

\end{document}

%% end of file `template.tex'.
