%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%				                %
% 	     STANDARD THEME		    %
%               				%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

% Start a document with the here given default font size and paper size.
\documentclass[10pt,a4paper]{article}

% Set the page margins.
\usepackage[a4paper,margin=0.75in]{geometry}

% Setup the language.
\usepackage[english]{babel}
\hyphenation{Some-long-word}

% Makes resume-specific commands available.
\usepackage{resume}

\begin{document}  % begin the content of the document
\sloppy  % this to relax whitespacing in favour of straight margins


% title on top of the document
\noindent \maintitle{ {{personal.name}} } {}

\nobreakvspace{0.3em}  % add some page break averse vertical spacing

% \noindent prevents paragraph's first lines from indenting
% \mbox is used to obfuscate the email address
% \sbull is a spaced bullet
% \href well..
% \\ breaks the line into a new paragraph
\noindent  {{ personal.email }} \sbull
\textsmaller{+}91 {{ personal.mobile }}
\\
{{ personal.city }} \sbull
{{personal.country }}

\spacedhrule{0.9em}{-0.4em}  % a horizontal line with some vertical spacing before and after

\roottitle{Summary}  % a root section title

% \vspace{1.3em}  % some vertical spacing
% \begin{multicols}{2}  % open a multicolumn environment
\noindent {{ personal.summary }}
% \end{multicols}

\vspace{1.1em}  % some vertical spacing
\spacedhrule{0em}{-0.4em}

\roottitle{Experience}

{% for w in work %}
\headedsection  % sets the header for the section and includes any subsections
{% templatetag openvariable %} {{w.company}} {% templatetag closevariable %}
{\textsc{ {{ w.city }}, {{ w.country}} }} {% templatetag openblock %}
\headedsubsection
{ {{w.designation}} }
{ {{ w.from_year }} -- {{w.to_year}} }
{\bodytext{ {{ w.work_summary}} }}
}
{% endfor %}

\vspace{1.1em}  % some vertical spacing
\spacedhrule{-0.2em}{-0.4em}

\roottitle{Education}

{% for e in education %}
\headedsection
    {% templatetag openvariable %} {{e.college}} {% templatetag closevariable %}
    {\textsc{ {{ e.city }}, {{e.country}} }} {% templatetag openblock %}
    \headedsubsection
        { {{ e.degree }}, {{ e.major }} }
        { {{ e.from_year }} -- {{ e.to_year }} } {}

}
{% endfor %}


\spacedhrule{0.5em}{-0.4em}

\roottitle{Skills}

\inlineheadsection  % special section that has an inline header with a 'hanging' paragraph
  {Technical:}
  { {{ skills.technical }} }

\vspace{0.5em}
\inlineheadsection
  {Management:}
  { {{ skills.management }} }

\spacedhrule{1.6em}{-0.4em}

\roottitle{Interests}

\inlineheadsection
  {Non-exhaustive and in alphabetical order:}
  {art, Buddhism, cryptography, Go (board game), history, music, open source, philosophy, software engineering (methodologies), travel, typography (e.g.\ graphic design, \LaTeX), \acr{UI}/\acr{UX}-design and vegetarian/vegan cooking.}


\end{document}
