{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">CV Editor</h3>
                </div>
                <ul class="list-group">
                    <a href="{% url 'personal' resume_id=resume_id %}" class="list-group-item">Personal</a>
                    <a href="{% url 'summary' resume_id=resume_id %}" class="list-group-item">Summary</a>
                    <a href="{% url 'education' resume_id=resume_id %}" class="list-group-item">Education</a>
                    <a href="{% url 'experience' resume_id=resume_id %}" class="list-group-item">Experience</a>
                    <a href="{% url 'award' resume_id=resume_id %}" class="list-group-item">Awards and Certifications</a>
                    <a href="{% url 'skills' resume_id=resume_id %}" class="list-group-item">Skills</a>
                    <a href="{% url 'languages' resume_id=resume_id %}" class="list-group-item">Languages</a>
                    <a href="{% url 'theme' resume_id=resume_id %}" class="list-group-item">Themes</a>
                    <a href="{% url 'preview' resume_id=resume_id %}" class="list-group-item">Preview</a>
                    <a href="{% url 'publish' resume_id=resume_id %}" class="list-group-item active">Publish</a>
                </ul>
            </div>
        </div>
        <div class="col-md-8">


            {% block form_content %}

            {% endblock %}
        </div>
    </div>

    <script>
        $('.Default').MonthPicker({MonthFormat: 'M, yy'});
    </script>

    <script>
        $("#datepicker").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
    </script>


{% endblock %}