{% extends 'builder/builder_base.html' %}

{% block form_content %}


    <div>
        <form action="{% url 'languages' resume_id=resume_id %}" method="post">
            {% csrf_token %}

            <div class="row">
            {% for field in form %}
                <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            </div>

            <div class="row">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>

        </form>
    </div>

{% endblock %}