{% extends 'builder/builder_base.html' %}

{% load static %}

{% block form_content %}

    <h2>Choose your theme</h2>

    <div class="row">
        <form method="post" action="{% url 'theme' resume_id=resume_id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-2 box"><label class="btn btn-primary"><img
                        src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png"
                        alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item4"
                                                                         value="val1" class="hidden" autocomplete="off"></label>
                </div>
                <div class="col-md-2 box"><label class="btn btn-primary"><img
                        src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png"
                        alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item4"
                                                                         value="val2" class="hidden" autocomplete="off"></label>
                </div>
                <div class="col-md-2 box"><label class="btn btn-primary"><img
                        src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"
                        alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item4"
                                                                         value="val3" class="hidden" autocomplete="off"></label>
                </div>

            </div>
            <div class="clearfix"></div>

            <input type="submit" value="Check Item" class="btn btn-success">

        </form>
    </div>

    <script>
        $(document).ready(function (e) {

            $('.img-check').click(function (e) {
                $('.img-check').not(this).removeClass('check')
                    .siblings('input').prop('checked', false);
                $(this).addClass('check')
                    .siblings('input').prop('checked', true);
            });

        });
    </script>

    <div>

        <div class="row">
            <img src="{% static 'img/img1.png' %}"/>
            <img src="{% static 'img/img1.png' %}"/>
            <img src="{% static 'img/img1.png' %}"/>
        </div>
        <br>

        <form action="{% url 'theme' resume_id=resume_id %}" method="post">
            <div class="row">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>
        </form>
    </div>

{% endblock %}